tqdm
rotary_embedding_torch
transformers
tokenizers
inflect
progressbar
einops
unidecode
scipy
librosa==0.9.1
torchaudio
openai-whisper
streamlit_mic_recorder
matplotlib==3.7
tensorflow-cpu
numpy
plotly
pandas
requests
umap-learn
streamlit
opencv-python-headless
fastapi
python-multipart
protobuf==3.20
